@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: 'Lora';
  }

.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    width: 100%;
    background-size: cover ;
    background-position: 10%;
    
}

.banner img{
display: flex;
flex-direction: row;
height: 50%;
width: 100%;
}

.footer{
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    background-color: antiquewhite;
}



.equipe{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
}

.equipe h1{
    font-family:;
    font-size: 250%;
    font-weight: bold;
    color: #998f52;
}

.habilidades{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}

.habilidades h1{
    font-size: 250%;
    font-weight: bold;
    color: #998f52;
}

.habilidadesIntro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}

.habilidadesIntro h1{
    font-size: 150%;
    text-align: center;
}

.contato{
    display: flex;
    flex-direction: row;
    
}

.contato h1{
    font-size: 250%;
    font-weight: bold;
    color: #998f52;
}

.contact{
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
}

.contact h1{
    font-size: 150%;
    color: black;
    font-family: 'Lora';
}

